:root {
    --text-color: #020113;
    --background-color: #FAFAFF;
    --primary-color: #4E4Db4;
    --secondary-color: #F78773;
    --accent-color: #F5D856;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.content-container {
    margin: 40px;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: var(--primary-color);
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    margin: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
      
nav ul li {
    display: inline;
}
      
nav ul li a {
    display: inline-block;
    padding: 30px 70px;
    font-size:larger;
    text-decoration: none;
    color: rgb(117, 117, 117);
    transition: color 0.3s ease;
}
      
nav ul li a:hover {
    color: black;
    text-decoration: underline;
}

.logo {
    font-family: monospace;
    font-weight: bolder;
    font-size:xx-large;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.overview-container {
    display: flex;
    gap: 15px;
    flex-direction: row;
    padding: 5px;
    margin-top: 50px;
}

.cv-container {
    background-color: var(--accent-color);
    padding: 80px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headshot-column-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.headshot {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 80px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.headshot span {
    padding-top: 10px;
}

.headshot a {
    font-size: larger;
}

.headshot picture img {
    border-radius: 1000px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.297);
    width: 300px;
    height: 300px;
}

.skills-container {
    background-color: var(--primary-color);
    padding: 80px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.skills-container h2 {
    color: var(--background-color);
}

.skills-container p {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-company {
    display: flex;
    justify-content: space-between;
}

.logo-and-company {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.experience-company picture img {
    width: 48px;
    height: 48px;
}

article {
    margin-bottom: 30px;
}
.article-photo {
    width: 400px;
    height: 400px;
    object-fit: cover; 
    overflow: hidden; 
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.297);
    margin-bottom: 20px;
}

article picture {
    display: flex;
    flex-direction: column;
}

.line-spacer {
    width: 100%;
    height: 1px;
    background-color: #000000;
}

footer {
    background-color: #272727;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    height: 100px;
}